name: Build emuiibo+emuiigen - 20260123

on:
  workflow_dispatch:

jobs:
  emuiibo:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest
    permissions:
      contents: write
      packages: write
    steps:
    - name: Checkout 
      uses: actions/checkout@v4
      with:
        submodules: recursive
      
    - name: Mark repo as safe
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Update packages
      run: |
        sudo -n apt-get update
        sudo -n apt-get upgrade -y git build-essential zip openjdk-17-jdk maven

    - name: Setup Java 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Prepare Rust
      uses: actions/rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly-2025-10-01
        override: true
        components: rust-src

    - name: Prepare cargo-nx
      run: cargo install cargo-nx --git https://github.com/aarch64-switch-rs/cargo-nx

    - name: Checkout nx crate source
      run: |
        mkdir -p /__w/emuiibo/aarch64-switch-rs/
        git clone --recurse-submodules https://github.com/aarch64-switch-rs/nx.git /__w/emuiibo/aarch64-switch-rs/nx

    - name: Checkout latest libnx commit
      run: |
        git clone --recurse-submodules https://github.com/switchbrew/libnx.git

    - name: Build and install libnx
      run: |
        cd libnx
        make install -j$(nproc)

    - name: Build emuiigen.jar
      run: make emuiigen -j$(nproc)

    - name: Build emuiibo and overlay (.nsp + .ovl)
      run: |
        make emuiibo -j$(nproc)
      env:
        DEVKITPRO: /opt/devkitpro
        DEVKITARM: /opt/devkitpro/devkitARM

    - name: Repack ZIP (remove SdOut folder)
      run: |
        rm -f emuiibo.zip
        cd SdOut
        zip -r ../emuiibo.zip .

    - name: Read version from Makefile
      id: get_version
      run: |
        VER_MAJOR=$(grep -oP 'VER_MAJOR\s+:=\s+\K\d+' overlay/Makefile)
        VER_MINOR=$(grep -oP 'VER_MINOR\s+:=\s+\K\d+' overlay/Makefile)
        VER_MICRO=$(grep -oP 'VER_MICRO\s+:=\s+\K\d+' overlay/Makefile)
        FULL_VERSION="$VER_MAJOR.$VER_MINOR.$VER_MICRO"
        echo "full_version=$FULL_VERSION" >> "$GITHUB_OUTPUT"

    - name: Generate Release Tag
      id: reltag
      run: |
        MAKEFILE_VERSION="${{ steps.get_version.outputs.full_version }}"
        SHORT_SHA="$(git rev-parse --short HEAD)"
        TAG_NAME="v$MAKEFILE_VERSION-$SHORT_SHA"
        REL_NAME="emuiibo v$MAKEFILE_VERSION ($SHORT_SHA)"
        echo "tag_name=${TAG_NAME}" >> "$GITHUB_OUTPUT"
        echo "rel_name=${REL_NAME}" >> "$GITHUB_OUTPUT"

    - name: Upload Release Assets
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ steps.reltag.outputs.tag_name }}
        name: ${{ steps.reltag.outputs.rel_name }}
        files: |
          emuiibo.zip
          emuiigen/target/emuiigen.jar
        generate_release_notes: true
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
